table.Fretboard tbody tr td:first-child {
  font-weight: bold;
  border-right: 3px solid black;
}

table.Fretboard tbody tr td:nth-child(4),
table.Fretboard tbody tr td:nth-child(6),
table.Fretboard tbody tr td:nth-child(8),
table.Fretboard tbody tr td:nth-child(10),
table.Fretboard tbody tr td:nth-child(13) {
  background-color: #ffc29d;
}

.NoteWithoutSign {
  line-height: 55px;
}
