table.Fretboard {
  tbody {
    tr {
      td:first-child {
        font-weight: bold;
        border-right: 3px solid black;
      }

      td:nth-child(4),
      td:nth-child(6),
      td:nth-child(8),
      td:nth-child(10),
      td:nth-child(13) {
        color: #D06453;
        background-color: #EFCAC4;

        sup {
          color: #D06453;
        }
      }
    }
  }
}
