table {
  text-align: center;
  padding: 5px;
  border: 5px solid #684fa3;
  border-radius: 10px;
  border-spacing: 0px;
  font-size: 32px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

td {
  min-width: 55px;
  height: 55px;
  cursor: pointer;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

tr:last-child td {
  border-bottom: none;
}

.Controls {
  display: flex;
  padding: 20px 0;
  gap: 10px;
}

.Controls input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  color: #684fa3;
  box-sizing: border-box;
}

.Controls button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  color: #684fa3;
  background-color: white;
}

.Canvas tbody tr td:last-child {
  border-right: none;
}

.Bold {
  font-weight: bold;
}

.Border {
  border-left: 4px solid black;
}

.Background {
  background-color: #cacaca;
}

.Selected {
  color: white;
  background-color: #684fa3;
}

.NoteWithoutSign {
  line-height: 55px;
}

.MusicSign {
  position: absolute;
}

.Sheet {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.Sheet .Note {
  background-color: white;
  border: 1px solid #000;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  opacity: 0.3;
  cursor: pointer;
  text-align: center;
  font-size: 23px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Sheet .Note:hover {
  opacity: 1;
}

.Sheet .Note:nth-child(2n) {
  background-color: #cacaca;
}

.Sheet .Note.Selected {
  opacity: 1;
  color: white;
  background-color: #684fa3;
}

.Sheet .Lines {
  position: absolute;
  margin-top: 45px;
  width: 226px;
  height: 235px;
  display: flex;
  z-index: -1;
  flex-direction: column;
  justify-content: space-between;
}

.Sheet .Line {
  width: 100%;
  height: 2px;
  background-color: #cacaca;
}
